@model Sports.Models.TestDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT ATHLETE RESULT IN  TEST </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TestId" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distnace" class="control-label"></label>
                <input asp-for="Distnace" class="form-control" />
                <span asp-validation-for="Distnace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a  asp-action="Delete" asp-route-id="@Model.Id" asp-route-testId="@Model.TestId" onclick = "return confirm('Are you sure you wish to delete this athlete ?');">DELETE ATHLETE FROM TEST</a>
            </div>
           
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
